@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

/*******************************************VARIABLES*******************************************/

/*Font Weight*/
$font-weight-normal_plus: 500;

/*Colores*/
$dark: #0b1210;
$primary: #f9a032;
$secondary: #484848;
$light: #fbfbfb;
$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "dark": $dark,
  "light": $light,
);

/*Size*/
$mySize: 2.5rem;
$mySize2: 6%;

/*Properties*/
$propiety: ("margin", "padding");
$direction: ("left", "right", "top", "bottom");

/*Navbar*/
$navbar-padding-x: 0 rem;
$navbar-toggler-border-radius: 0;
$navbar-toggler-focus-width: 0;
$navbar-toggler-transition: none;

/*Navbar Dropdown*/
$dropdown-border-radius: 0;
$dropdown-item-padding-x: $mySize * 2;

/*Background*/
$background: (
  "ejes-del-proyecto" url(../images/ejes-fondo.jpeg) auto,
  "footer" url(../images/footer.jpeg) auto,
  "unirse-inicio" url(../images/unirse-inicio.JPG) 37rem,
  "header-conocenos" url(../images/conocenos-header.JPG) 25rem,
  "conocenos-quienes-somos" url(../images/conocenos-quienes-somos.jpg) 50rem,
  "testimonios-conocenos" url(../images/slider2-1.png) auto,
  "header-programas" url(../images/programas-header.jpeg) 25rem
);
$background--ejes-del-proyecto: (
  "educacion": url(../images/eje-educacion.JPG),
  "familia": url(../images/eje-familia.jpg),
);
$background-degradado: (
  "negro" $dark 0.6 0,
  "primary" $primary 0.8 1rem,
  "light" $light 0.9 0
);

/*Carousel*/
$carousel-indicator-active-bg: #d9d9d9b0;
$carousel-indicator-opacity: 1;
$carousel-indicator-height: 0.3rem;
$carousel-indicator-width: 2rem;
$carousel-control-opacity: 1;
$carousel-control-hover-opacity: 1;
$carousel-control-icon-width: 2.65rem;
$carousel-control-prev-icon-bg: url("../images/carousel-control-prev-icon-bg.svg");
$carousel-control-next-icon-bg: url("../images/carousel-control-next-icon-bg.svg");
$carousel-dark-indicator-active-bg: #d9d9d9b0;
$carousel-dark-control-icon-filter: invert(0.25) grayscale(10);

/*******************************************TEXTO*******************************************/

* {
  font-family: "Poppins", sans-serif;
}
html {
  font-size: 70%;
}

/*******************************************Z-INDEX*******************************************/

.z-index-1 {
  z-index: 1;
}
.z-index-2 {
  z-index: 2;
}
.z-index-3 {
  z-index: 3;
}

/*******************************************CONTAINER*******************************************/

.myContainer {
  padding-right: $mySize;
  padding-left: $mySize;
}
.my {
  @each $propiety1 in $propiety {
    &-#{$propiety1} {
      @each $position in $direction {
        &-#{$position} {
          #{$propiety1}-#{$position}: $mySize !important;
        }
      }
    }
  }
}

/*******************************************NAVBAR*******************************************/

/*Nav Toggler*/
.navbar-toggler {
  width: 35px;
  height: 31px;
  transition: 0.5s ease-in-out;
  outline: none;
  box-shadow: none;
  border: 0;
  &__icon {
    display: block;
    position: absolute;
    height: 5px;
    width: 100%;
    background-color: $primary;
    border-radius: 50px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: 0.25s ease-in-out;
    &--top-bar {
      margin-top: 0px;
      transform: rotate(135deg);
    }
    &--middle-bar {
      opacity: 0;
      margin-top: 0px;
      filter: alpha(opacity=0);
    }
    &--bottom-bar {
      margin-top: 0px;
      transform: rotate(-135deg);
    }
  }
  &.collapsed {
    .navbar-toggler__icon--top-bar {
      margin-top: -25px;
      transform: rotate(0deg);
    }
    .navbar-toggler__icon--middle-bar {
      opacity: 1;
      filter: alpha(opacity=100);
    }
    .navbar-toggler__icon--bottom-bar {
      margin-top: 25px;
      transform: rotate(0deg);
    }
  }
}

/*Nav Item*/
.nav-item {
  border-color: #d6d6d6;
}

/*Nav Dropdown*/
#navbarNavDropdown {
  background-color: $light;
  margin-right: 0;
}

/*Nav Link*/
.nav-link {
  margin-left: $mySize;
}

/*******************************************BACKGROUND*******************************************/

.background {
  background-size: cover;
  background-position: center;
  @each $section, $url, $height in $background {
    &--#{$section} {
      background-image: $url;
      height: $height;
      @if $section == "ejes-del-proyecto" {
        @each $section-ejes-del-proyecto,
          $url-ejes-del-proyecto in $background--ejes-del-proyecto
        {
          &__#{$section-ejes-del-proyecto} {
            background-image: $url-ejes-del-proyecto;
          }
        }
      }
    }
  }
  &-degradado {
    &:before {
      content: "";
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      position: absolute;
    }
    @each $name, $color, $opacity, $border-radius in $background-degradado {
      &--#{$name}:before {
        background-color: $color;
        opacity: $opacity;
        border-radius: $border-radius;
      }
    }
  }
}

/*******************************************CARD*******************************************/

.card {
  transition: all 0.9s;
  backface-visibility: hidden;
  max-width: 35rem;
  &-container {
    min-height: 300px;
    &:hover {
      & .card-front {
        transform: rotateY(180deg);
      }
      & .card-back {
        transform: rotateY(0deg);
      }
    }
  }
  &-back {
    transform: rotateY(180deg);
  }
}

/*******************************************CAROUSEL*******************************************/

.carousel-inner--max,
.carousel-item--max {
  max-height: 600px;
}
.button-tab {
  border: 0;
}
.active {
  background-color: $primary !important;
  border-bottom: $primary !important;
  border-style: solid !important;
  border-bottom-width: 0.5rem !important;
}
.imageBox {
  max-width: 20rem;
}
.foto-testimonio {
  width: 7rem;
  height: 7rem;
}
.carousel-item--testimonios {
  height: 50rem;
}
.row--testimonios-voluntarios {
  height: auto;
}
.testimonio-voluntario__parrafo {
  overflow-y: scroll;
  scrollbar-color: #484848 #dddddd;
  scrollbar-width: 20px;
  padding-right: 1rem;
}

.testimonio-voluntario__parrafo::-webkit-scrollbar {
  width: 10px;
}

.testimonio-voluntario__parrafo::-webkit-scrollbar-track {
  background-color: #dddddd;
  border-radius: 20px;
}

.testimonio-voluntario__parrafo::-webkit-scrollbar-thumb {
  background-color: #484848;
  border-radius: 20px;
}

.testimonio-voluntario__parrafo::-webkit-scrollbar-thumb:hover {
  background-color: #484848;
}

/*******************************************FOOTER*******************************************/

.icon {
  width: 35px;
  height: 35px;
}

/*******************************************API********************************************/

@import "../node_modules/bootstrap/scss/bootstrap.scss";
$utilities: map-merge(
  $utilities,
  (
    "font-weight":
      map-merge(
        map-get($utilities, "font-weight"),
        (
          values:
            map-merge(
              map-get(map-get($utilities, "font-weight"), "values"),
              (
                normal_plus: $font-weight-normal_plus,
              )
            ),
        )
      ),
  )
);
@import "../node_modules/bootstrap/scss/utilities/api.scss";

/*******************************************MEDIA QUERYS********************************************/
@media (min-width: 230px) {
  .carousel-item--testimonios {
    height: 90rem;
  }
}
@media (min-width: 260px) {
  .carousel-item--testimonios {
    height: 70rem;
  }
}
@media (min-width: 280px) {
  .carousel-item--testimonios {
    height: 60rem;
  }
}
@media (min-width: 370px) {
  .carousel-item--testimonios {
    height: 45rem;
  }
}
@media (min-width: 500px) {
  .big-text {
    font-size: 2.5rem !important;
  }
  .carousel-item--testimonios {
    height: 35rem;
  }
}
@media (min-width: 600px) {
  .big-text {
    font-size: 3rem !important;
  }
}
@include media-breakpoint-up(md) {
  .big-text {
    font-size: 4rem !important;
    &-2 {
      font-size: 3rem !important;
    }
  }
  .padding {
    @each $position in $direction {
      &-#{$position}-25 {
        padding-#{$position}: calc($mySize/2) !important;
      }
    }
  }
}
@include media-breakpoint-up(lg) {
  html {
    font-size: 75%;
  }
  .carousel-item--testimonios {
    height: 30rem;
  }
  #navbarNavDropdown {
    background-color: $dark;
    margin-right: $mySize2;
  }
  .my-margin {
    @each $position in $direction {
      &-#{$position} {
        @if $position == "bottom" {
          margin-bottom: calc($mySize * 2) !important;
        } @else {
          margin-#{$position}: $mySize2 !important;
        }
      }
    }
  }
  .myContainer {
    padding-right: $mySize2;
    padding-left: $mySize2;
  }
  .text-navbar {
    color: white !important;
  }
  .nav-item {
    border: 0 !important;
    &-selected {
      border-color: $primary !important;
      border-width: 0.2rem !important;
    }
  }
  .imageBox {
    max-width: 15rem;
  }
}
@media (min-width: 1024px) {
  html {
    font-size: 80%;
  }
}
