@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
* {
  font-family: "Poppins", sans-serif;
}
html {
  font-size: 62.5%;
}
$navbar-padding-x: 0 rem;
$dropdown-border-radius: 0;
$dark: #0b1210;
$primary: #f9a032;
$secondary: #484848;
$light: #fbfbfb;
$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "dark": $dark,
  "light": $light,
);
.nav-item {
  border-color: #d6d6d6;
}

$navbar-toggler-border-radius: 0;
$navbar-toggler-focus-width: 0;
$navbar-toggler-transition: none;

.navbar-toggler {
  width: 35px;
  height: 31px;
  position: relative;
  transition: 0.5s ease-in-out;
}
.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none;
  box-shadow: none;
  border: 0;
}
header {
  z-index: 2;
}

.navbar-toggler span {
  margin: 0;
  padding: 0;
}

.toggler-icon {
  display: block;
  position: absolute;
  height: 5px;
  width: 100%;
  background-color: $primary;
  border-radius: 50px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
}
.middle-bar {
  margin-top: 0px;
}

.navbar-toggler .top-bar {
  margin-top: 0px;
  transform: rotate(135deg);
}

.navbar-toggler .middle-bar {
  opacity: 0;
  filter: alpha(opacity=0);
}
.navbar-toggler .bottom-bar {
  margin-top: 0px;
  transform: rotate(-135deg);
}

.navbar-toggler.collapsed .top-bar {
  margin-top: -25px;
  transform: rotate(0deg);
}
.navbar-toggler.collapsed .middle-bar {
  opacity: 1;
  filter: alpha(opacity=100);
}
.navbar-toggler.collapsed .bottom-bar {
  margin-top: 25px;
  transform: rotate(0deg);
}

.fw-500 {
  font-weight: 500 !important;
}
.carousel-inner,
.carousel-item {
  max-height: 600px !important;
}
.active {
  background-color: $primary !important;
}

$carousel-indicator-active-bg: #d9d9d9b0;
$carousel-indicator-opacity: 1;
$carousel-indicator-height: 0.3rem;
$carousel-indicator-width: 2rem;
$carousel-control-opacity: 1;
$carousel-control-hover-opacity: 1;
$carousel-control-icon-width: 2.65rem;
$carousel-control-prev-icon-bg: url("../images/carousel-control-prev-icon-bg.svg");
$carousel-control-next-icon-bg: url("../images/carousel-control-next-icon-bg.svg");
$carousel-dark-indicator-active-bg: #d9d9d9b0;
$carousel-dark-control-icon-filter: invert(0.25) grayscale(10);

.card-container {
  min-height: 300px;
}

.card-container:hover .card-front {
  transform: rotateY(180deg);
}

.card-container:hover .card-back {
  transform: rotateY(0deg);
}

.card-back {
  transform: rotateY(180deg);
}

//
.card-front {
  background-size: cover;
  background-position: center;
}
.card-front--educacion {
  background-image: url(../images/eje-educacion.JPG);
}

.card-front--familia {
  background-image: url(../images/eje-familia.jpg);
}

.card {
  transition: all 0.9s;
  backface-visibility: hidden;
  max-width: 35rem;
}

.card-title {
  z-index: 1;
}
h2,
h3 {
  z-index: 1;
}

.card-front:before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: $primary;
  opacity: 0.8;
  border-radius: 1rem;
}

.ejes-del-proyecto {
  background-image: url(../images/ejes-fondo.jpeg);
  background-size: cover;
  background-position: center;
}

.ejes-del-proyecto:before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: $light;
  opacity: 0.8;
}

.unirse-inicio {
  background-image: url(../images/unirse-inicio.JPG);
  background-size: cover;
  background-position: center;
  min-height: 30rem;
}

.unirse-inicio:before,
.container-footer:before {
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: $dark;
  opacity: 0.6;
  position: absolute;
}

.button-box {
  z-index: 1;
}
.imageBox {
  max-width: 20rem;
}
.container-footer {
  background-image: url(../images/footer.jpeg);
  background-position: center;
  background-size: cover;
}
.col,
.footer__column {
  z-index: 1;
}
.footer__column {
  width: 100%;
}
.icon {
  width: 35px;
  height: 35px;
}
@import "../node_modules/bootstrap/scss/bootstrap.scss";
@media (min-width: 500px) {
  .big-text {
    font-size: 2.5rem !important;
  }
}
@media (min-width: 600px) {
  .big-text {
    font-size: 3rem !important;
  }
}
@media (min-width: 768px) {
  .footer__column {
    width: calc(100% / 3);
  }
  .footer__row {
    flex-direction: row !important;
  }
  .big-text {
    font-size: 4rem !important;
  }
  .big-text-2 {
    font-size: 3rem !important;
  }
}
@media (min-width: 992px) {
  html {
    font-size: 70.5%;
  }
  #navbarNavDropdown {
    background-color: $dark !important;
  }
  .text-navbar {
    color: white !important;
  }
  .nav-item {
    border: 0 !important;
  }
  .nav-item-selected {
    border-color: #f9a032 !important;
    border-width: 0.2rem !important;
  }
  .imageBox {
    max-width: 15rem;
  }
}
@media (min-width: 1024px) {
  html {
    font-size: 75%;
  }
}
