$carousel-indicator-active-bg: #d9d9d9b0;
$carousel-indicator-opacity: 1;
$carousel-indicator-height: 0.5rem;
$carousel-indicator-width: 2rem;
$carousel-control-opacity: 1;
$carousel-control-hover-opacity: 1;
$carousel-control-icon-width: 2.65rem;
$carousel-control-prev-icon-bg: url("../images/carousel-control-prev-icon-bg.svg");
$carousel-control-next-icon-bg: url("../images/carousel-control-next-icon-bg.svg");
$carousel-dark-indicator-active-bg: #d9d9d9b0;
$carousel-dark-control-icon-filter: invert(0.25) grayscale(10);
