/*Navbar*/
$navbar-padding-x: 0 rem;
$navbar-toggler-border-radius: 0;
$navbar-toggler-focus-width: 0;
$navbar-toggler-transition: none;
$nav-link-color: $dark;

/*Navbar Dropdown*/
$dropdown-border-radius: 0;
$dropdown-item-padding-x: $mySize * 2;
