/*Nav Toggler*/
.navbar-toggler {
  width: 35px;
  height: 31px;
  -webkit-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 0;
  &__icon {
    display: block;
    position: absolute;
    height: 5px;
    width: 100%;
    background-color: #f9a032;
    border-radius: 50px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
    &--top-bar {
      margin-top: 0px;
      -webkit-transform: rotate(135deg);
      -ms-transform: rotate(135deg);
      transform: rotate(135deg);
    }
    &--middle-bar {
      opacity: 0;
      margin-top: 0px;
      filter: alpha(opacity=0);
    }
    &--bottom-bar {
      margin-top: 0px;
      -webkit-transform: rotate(-135deg);
      -ms-transform: rotate(-135deg);
      transform: rotate(-135deg);
    }
  }
  &.collapsed {
    .navbar-toggler__icon--top-bar {
      position: absolute;
      top: 0;
      right: 0;
      -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    .navbar-toggler__icon--middle-bar {
      position: absolute;
      opacity: 1;
      filter: alpha(opacity=100);
      bottom: 25;
      right: 0;
    }
    .navbar-toggler__icon--bottom-bar {
      -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      transform: rotate(0deg);
      position: absolute;
      bottom: 0;
      right: 0;
    }
  }
}

/*Nav*/
.nav {
  &-item {
    border-color: #d6d6d6;
  }
  &-link {
    margin-left: $mySize;
  }
}

/*Nav Dropdown*/
#navbarNavDropdown {
  background-color: $light;
  margin-right: 0;
}
