.flip-card {
  background-color: transparent;
  max-width: 400px;
  aspect-ratio: 1/1;
  -webkit-perspective: 1000px;
  perspective: 1000px;
  &-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    -webkit-transition: -webkit-transform 0.8s;
    transition: -webkit-transform 0.8s;
    -o-transition: transform 0.8s;
    transition: transform 0.8s;
    transition: transform 0.8s, -webkit-transform 0.8s;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }
  &-face {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  &-back {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    overflow: visible;
  }
  &__content {
    margin: auto 0;
  }
}
